profile {
{{- if eq .chezmoi.hostname "helios" }}
    output HDMI-A-1 mode 1920x1080@74.973000 position 0,0 scale 1.00
    output DP-1 mode 2560x1440@180.001007 position 1920,0 scale 1.25
{{- end }}
{{- if eq .chezmoi.hostname "artemis" }}
    output eDP-1 mode 1920x1200@60.001999 scale 1.25
{{- end}}
}
