# This is the config file that lets you assign defaults for gamescope when using the scopebuddy script
# lines starting with # are ignored

{{- if eq .chezmoi.hostname "helios" }}
SCB_GAMESCOPE_ARGS="-f -w 2560 -h 1440 -W 2560 -H 1440 -r 180 --prefer-output DP-1"
{{- end }}
{{- if eq .chezmoi.hostname "artemis" }}
SCB_GAMESCOPE_ARGS="-f -w 1920 -h 1200 -W 1920 -H 1200 -r 60 --force-grab-cursor"
{{- end}}
